@import "./appVariables";
@import "foundation/scss/foundation"; 
@import "font-awesome/stylesheets/font-awesome";

@import "./components/components"; 

#app {
	width : 100%;
	min-width : 1200px;
	height : 100%;

	.appContainer {
		height: 100%;    
		display : block;
	}
}

