input + label {
	display : inline !important;
	margin-left : 10px;
	position :  relative;
	top : 2px;
}
input[type='text'] {
	height : 40px !important;
}

select {
	height : 40px !important;
	border-radius : 0px;
	border: 1px solid #ccc;
	background-color : white;
}

textarea {
	height : 150px;
}

img.galery {
	border :  1px solid #ccc;
	padding : 5px;
	border-radius : 5px;
}